.error {
    background-color:red;
    color:white;
}

.success {
    background-color:green;
    color:white;
}

.bordered {
    border: 1px solid black;

}

.zoom.ng-enter {
  animation: 0.5s zoomInDown;
}



input.ng-dirty.ng-invalid {
    background-color:lightpink;
}

input.ng-dirty.ng-valid {
    background-color:lightgreen;
}