<h1>Course List</h1>
<input ng-model="bla" />
<!-- showFilter in the view === $scope.showFilter in the controller -->
<label>Show filter: <input type="checkbox" ng-model="showFilter"></label>
<div ng-show="showFilter">
    <h2>Filter Value: {{name | lowercase}}</h2>
    Filter: <input ng-model="name">
</div>
<h1 ng-show="errorMessage">Error: {{errorMessage}}</h1>
<span ng-bind="name"></span>

<ul>
    <li ng-repeat="item in courses | filter:(showFilter ? name : '')">
        <a href="#!/course/{{item.id}}">{{item.title}}</a> {{item.duration}} days
        <a href="" ng-click="remove(item)">Remove</a>
    </li>
</ul>

<h2>Add Course</h2>
<a name="add"></a>
<form>
    <label>Title: <input ng-model='newItem.title'></label><br />
    <div ng-class="{'error':someBooleanExpression,'success':!someBooleanExpression}">This is wrong</div>
    <label>Duration: <input ng-model='newItem.duration'></label><br />
    <label>Description: <input ng-model='newItem.description'></label><br />
    <button ng-click="add()">Add</button>
</form>

<div ng-controller="ChildController">
    Event received: {{eventData | json}}


</div>
